select, select.form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('select.svg');
    background-position: center right;
    background-repeat: no-repeat;
    background-color: #e91e63;
    background-size: 1000px;
}

select optgroup {
    background-color: #f7f7f7;
    color: #999;
}

select option {
    background-color: #FFFFFF;
}

select.form-control:focus, input.form-control:focus {
    border: 1px solid #ec5f99;
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.1),
                0 0 7px rgba(232, 61, 132, .2);
}

.form-label-block, .form-label-inline {
    font-size: 14px;
    color: #888;
    font-weight: bold;
}

.form-label-inline {
    display: inline-block;
}

.text-ultra-muted {
    font-size: 11px;
    color: #ccc;
    line-height: 9px !important;
    text-transform: uppercase;
}

* {
    transition: all 0.25s ease-in;
}
*:focus {
    outline: none;
}
.ul-reset {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
#methone-container-replace::shadow #methone_header {
    background: #7cb342 !important;
}
#fb {
    background: #43629b;
}
#fb i.fa:before {
    content: "\f09a";
    color: #FFFFFF;
}
#gdocs {
    background: #ae5751;
}
#gdocs i.fa:before {
    content: "\f1a0";
    color: #FFFFFF;
}

h3 { border: none !important; }

#content {
    min-height: calc(100vh - 216px);
}

/**
 * Main page elements.
 */

.checkbox {
    position: relative;
    margin: 0 !important;
    font-size: 14px;
    color: #777;
}

.checkbox label {
    position: absolute;
    left: 0;
    top: 0;
}
.checkbox label:before {
    content: '';
    cursor: pointer;
    position: absolute;
    width: 20px;
    height: 20px;
    top: -1px;
    left: -10px;
    float: left;
    background: #fff;
    border:1px solid #ddd;
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, .1);
}
.checkbox label:after {
    opacity: 0.2;
    content: '';
    position: absolute;
    width: 13px;
    height: 8px;
    background: transparent;
    top: 4px;
    left: -6px;
    border: 3px solid #fff;
    border-top: none;
    border-right: none;
    transition: .25s;
    transform: rotate(-45deg);
}
.checkbox label:hover::after {
    opacity: 0.5;
}
.checkbox input[type=checkbox]:checked + label:after {
    opacity: 1;
}
.checkbox input[type=checkbox]:checked + label:before {
    background: #e91e63;
}
.checkbox input[type=checkbox]:checked + label {
    color: #e91e63;
}
input[type=checkbox] {
    visibility: hidden;
}

.radio {
    position: relative;
    margin: 10px 0 -10px;
    font-size: 14px;
}
.radio label {
    position: absolute;
    left: 25px;
    top: 0;
}
.radio label:before {
    content: '';
    cursor: pointer;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 13px;
    top: 0;
    left: -10px;
    background: #fff;
    border:1px solid #ddd;
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, .1);
    transition: .25s;
}
.radio label:after {
    opacity: 0.2;
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 6px;
    background: #fff;
    top: 6px;
    left: -4px;
    border-top: none;
    border-right: none;
    transition: .25s;
}
.radio label:hover::after {
    opacity: 0.5;
}
.radio input[type=radio]:checked + label:after {
    opacity: 1;
}
.radio input[type=radio]:checked + label:before {
    background: #e91e63;
}
.radio input[type=radio]:checked + label {
    color: #e91e63;
}
input[type=radio] {
    visibility: hidden;
}

table.table thead {
    background: #fff !important;
    color: #e91e63 !important;
}

.alert {
    border-radius: 0 !important;
}

.alert-muted {
    color: #999;
    background: #fafafa;
    border-color: #f2f2f2;
}

.alert-sm {
    padding: 7px;
    margin-bottom: 10px;
    font-size: 14px;
}

.table-pagination {
    text-align: center;
}

.pink #content .table-pagination ul li a {
    text-decoration: none !important;
}

.table-pagination .disabled a {
    color: #999 !important;
}

.table-pagination .active a {
    color: #fff !important;
    background: #ec407a !important;
    border-color: #d81b60 !important;
}

#footer {
    background: #333333;
    margin: 0;
    height: 70px;
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.05);
}

#footer p {
    color: #fff;
}

#footer-inner {
    max-width: 1200px;
    margin: 0 auto;
}

#footer #footer-inner div {
    text-transform: uppercase;
    color: #ccc;
    font-weight: 300;
    font-size: 13px;
    padding-top: 25px;
}

#footer-inner a {
    color: #fff;
}

input[type="datetime-local"].input {
    width: 100%;
    border: 1px solid #f7f7f7;
    border-radius: 0 !important;
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.1);
    color: #696969;
}

@media all and (max-width: 560px) {
    div#content {
        padding: 40px 0;
    }
}

.fa-1x{font-size:1em}
.fa-2x{font-size:2em}
.fa-3x{font-size:3em}
.fa-4x{font-size:4em}
.fa-5x{font-size:5em}
.fa-6x{font-size:6em}
.fa-7x{font-size:7em}
.fa-8x{font-size:8em}
.fa-9x{font-size:9em}
.fa-10x{font-size:10em}
