<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      th:replace="layout :: layout(~{::title},~{::link},~{::script},~{::#main})">
<head>
    <title>Redigera period</title>
    <script type="text/javascript"></script>
    <link rel="stylesheet" href="/css/overrides.css" />
</head>
<body>

<div id="main">
    <form action="#" th:action="@{/admin/activities/periods/edit}" th:object="${period}" method="POST" enctype="multipart/form-data">
        <header>
            <div class="header-inner">
                <div class="row">
                    <div class="header-left col-md-2"></div>
                    <div class="col-md-8">
                        <h2>Redigera period</h2>
                    </div>
                    <div class="header-right col-md-2">
                        <a th:href="@{/admin/activities/periods/list/{id}(id=${period.activity.id})}" class="primary-action">
                            Tillbaka
                        </a>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </header>
        <div id="content">
            <div th:if="${param.saved}" class="alert alert-success alert-sm">
                <i class="fa fa-fw fa-info-circle"></i>
                Perioden har sparats!
            </div>

            <input type="hidden" name="activityId" th:value="${period.activity.id}" />
            <input type="hidden" th:field="*{id}" />
            <input type="hidden" th:field="*{recurrence}" id="recurrence" />

            <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                <strong>Något blev fel under redigeringen:</strong>
                <ul>
                    <li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
                </ul>
            </div>

            <div>
                <div style="margin-bottom: 1em">
                    <input type="text" th:field="*{name}" class="ds-primary-input" placeholder="Periodens interna namn"/>
                </div>

                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="startDate" class="form-label-block">Periodens startdatum (inklusive):</label>
                        <input class="form-control input" required type="date" id="startDate" th:field="*{startDate}" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="endDate" class="form-label-block">Periodens slutdatum (inklusive):</label>
                        <input class="form-control input" required type="date" id="endDate" th:field="*{endDate}" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="recurrence" class="form-label-block">Upprepning (från startdatum):</label>

                    <div class="radio v-centered" style="height: 4em">
                        <input class="form-control"
                            type="radio"
                            name="recurrence-type"
                            value="daily"
                            id="recurrence-type-daily" />
                        <label for="recurrence-type-daily">
                            Varje
                            <input class="form-control input"
                                style="width: 5em; display: inline-block; margin-left: 0.5em; margin-right: 0.5em"
                                type="number"
                                value="1"
                                min="1"
                                id="recurrence-daily"
                            />
                            dag(ar)
                        </label>
                    </div>
                    <div class="radio v-centered" style="height: 4em">
                        <input class="form-control"
                            type="radio"
                            name="recurrence-type"
                            value="weekly"
                            id="recurrence-type-weekly" />
                        <label for="recurrence-type-weekly">
                            Varje
                            <input class="form-control input"
                                style="width: 5em; display: inline-block; margin-left: 0.5em; margin-right: 0.5em"
                                type="number"
                                value="1"
                                min="1"
                                id="recurrence-weekly"
                            />
                            vecka(or)
                        </label>
                    </div>
                    <div class="radio v-centered" style="height: 4em">
                        <input class="form-control"
                            type="radio"
                            name="recurrence-type"
                            value="monthly"
                            id="recurrence-type-monthly" />
                        <label for="recurrence-type-monthly">
                            Varje
                            <input class="form-control input"
                                style="width: 5em; display: inline-block; margin-left: 0.5em; margin-right: 0.5em"
                                type="number"
                                value="1"
                                min="1"
                                id="recurrence-monthly"
                            />
                            månad(er)
                        </label>
                    </div>
                    <div class="radio v-centered" style="height: 4em">
                        <input class="form-control"
                            type="radio"
                            name="recurrence-type"
                            value="yearly"
                            id="recurrence-type-yearly" />
                        <label for="recurrence-type-yearly">
                            Varje
                            <input class="form-control input"
                                style="width: 5em; display: inline-block; margin-left: 0.5em; margin-right: 0.5em"
                                type="number"
                                value="1"
                                min="1"
                                id="recurrence-yearly"
                            />
                            år
                        </label>
                    </div>
                    <div class="radio v-centered" style="height: 4em">
                        <input class="form-control"
                            checked
                            type="radio"
                            name="recurrence-type"
                            value="advanced"
                            id="recurrence-type-advanced" />
                        <label for="recurrence-type-advanced">
                            Avancerat (ISO 8601 Duration):
                            <input class="form-control input"
                                style="width: 15em; display: inline-block; margin-left: 0.5em"
                                pattern="P[A-Z0-9]+"
                                th:value="*{recurrence}"
                                id="recurrence-advanced"
                            />
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <label for="location" class="form-label-block">Eventplats:</label>
                    <input class="form-control input" required type="text" id="location" th:field="*{location}" />
                </div>

                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="startTime" class="form-label-block">Event starttid:</label>
                        <input class="form-control input" required type="time" id="startTime" th:field="*{startTime}" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="endTime" class="form-label-block">Event sluttid:</label>
                        <input class="form-control input" required type="time" id="endTime" th:field="*{endTime}" />
                    </div>
                </div>
            </div>
            <div class="clear"></div>

            <div class="footer-toolbar" id="footerButtons">
                <div class="footer-toolbar-inner row">
                    <div class="footer-toolbar-info col-md-8">
                        <strong>Publicerat innehåll uppdateras på siten direkt när du trycker på spara.</strong>
                    </div>
                    <div class="footer-toolbar-action-buttons col-md-4 text-right">
                        <div id="publish_period">
                            <button
                                th:if="${period.id != null}"
                                sec:authorize="hasAuthority('editor')"
                                th:data-post-to="@{/admin/activities/periods/delete/{id}(id=${period.id})}"
                                data-confirm="Är du säker på att du vill ta bort perioden?"
                                class="button secondary-action"
                                type="button"
                            >
                                Radera
                            </button>

                            <input class="button primary-action" type="submit" name="save" th:value="${period.id == null ? 'Skapa' : 'Uppdatera'}" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>

<script>
for (el of document.querySelectorAll("[data-post-to]")) {
    el.addEventListener("click", (event) => {
        if (el.dataset.confirm === undefined || confirm(el.dataset.confirm)) {
            const form = document.createElement("form");
            form.method = "post";
            form.action = el.dataset.postTo;
            document.body.appendChild(form);
            form.submit();
        }
    });
}
</script>

<script>
const recurrence = document.getElementById("recurrence"); // hidden

function updateRecurrence() {
    const selType = document.querySelector('input[name="recurrence-type"]:checked').value;
    const selValue = document.getElementById(`recurrence-${selType}`).value;
    if (selType === "advanced") {
        recurrence.value = selValue;
    } else {
        const tag = selType[0].toUpperCase(); // use a data- attribute if this becomes unmanageable
        recurrence.value = "P" + selValue + tag;
    }
}

document.querySelectorAll('[id^="recurrence-"]')
    .forEach(el => el.addEventListener("change", updateRecurrence));
</script>

</body>
</html>
