<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      th:replace="layout :: layout(~{::title},~{::link},~{::script},~{::#main})">
<head>
    <title>Redigera post</title>
    <script type="text/javascript"></script>
    <link rel="stylesheet" href="/css/overrides.css" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/simplemde/latest/simplemde.min.css" />
    <script src="//cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <script type="text/javascript">
        var content_en = new SimpleMDE({
            element: document.getElementById("content_en"),
            autosave: {
                uniqueId: "59ca98c66c3c3da1007d772f_en"
            },
            forceSync: true,
            hideIcons: ['image', 'side-by-side', 'fullscreen', 'guide'],
            parsingConfig: {
                allowAtxHeaderWithoutSpace: true
            },
            spellChecker: false
        });
        var content_sv = new SimpleMDE({
            element: document.getElementById("content_sv"),
            autosave: {
                uniqueId: "59ca98c66c3c3da1007d772f_sv"
            },
            forceSync: true,
            hideIcons: ['image', 'side-by-side', 'fullscreen', 'guide'],
            parsingConfig: {
                allowAtxHeaderWithoutSpace: true
            },
            spellChecker: false
        });
    </script>
    <script type="text/javascript" src="https://unpkg.com/vue@2.6.14"></script>
    <script type="text/javascript" th:inline="text">
        var Data = {
            contentType: "[[${item.itemType != null ? item.itemType : 'POST'}]]",
            publishStatus: "[[${item.getPublishStatus().name()}]]",
            publishDate: "[[${item.publishDate}]]"
        };

        var Methods = {
            queue: function () {
                if (this.publishDate.match(/^20\d{2}-(0[1-9]|1[0-2])-([0-2]\d|3[0-1])T[0-2]\d:[0-5]\d$/)) {
                    this.publishStatus = "QUEUED";
                } else {
                    alert('Du måste ange ett datum på giltigt format: YYYY-MM-DDThh:mm (ex. 2017-09-21T11:27');
                    this.publishDate = "";
                }
            }
        };

        new Vue({
            el: "#headerButtons",
            data: Data,
            methods: Methods
        });

        new Vue({
            el: "#sidebar",
            data: Data,
            methods: Methods
        });

        new Vue({
            el: "#footerButtons",
            data: Data,
            methods: Methods
        });
    </script>
</head>
<body>

<div id="main">
    <form action="#" th:action="@{/admin/edit}" th:object="${item}" method="POST" enctype="multipart/form-data">
        <header>
            <div class="header-inner">
                <div class="row">
                    <div class="header-left col-md-2"></div>
                    <div class="col-md-8">
                        <h2>Redigera post</h2>
                    </div>
                    <div class="header-right col-md-2" id="headerButtons">
                        <th:block th:switch="${item.getPublishStatus().name()}">
                            <span th:case="DRAFT">
                                <input class="button primary-action" type="submit" name="save" value="Spara utkast" v-if="publishStatus == 'DRAFT'" />
                                <input class="button primary-action" type="submit" name="save" value="Köa publicering" v-if="publishStatus == 'QUEUED'" />
                            </span>
                            <span th:case="QUEUED">
                                <input class="button primary-action" type="submit" name="save" value="Spara utkast" v-if="publishStatus == 'DRAFT'" />
                                <input class="button primary-action" type="submit" name="save" value="Köa publicering" v-if="publishStatus == 'QUEUED'" />
                            </span>
                            <span th:case="PUBLISHED">
                                <input class="button primary-action" type="submit" name="save" value="Uppdatera" />
                            </span>
                        </th:block>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </header>
        <div id="content">

            <input type="hidden" th:field="*{id}" />
            <input type="hidden" th:field="*{author}" />
            <input type="hidden" th:field="*{authorDisplay}" />
            <input type="hidden" th:field="*{updated}" />

            <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                <strong>Något blev fel under redigeringen:</strong>
                <ul>
                    <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
                </ul>
            </div>

            <div class="row">
                <div class="col-md-9">
                    <div class="col-xs-12">
                        <input type="text" th:field="*{titleSwedish}" class="ds-primary-input" placeholder="Titel (svenska)"/>
                        <input type="text" th:field="*{titleEnglish}" class="ds-secondary-input" placeholder="Titel (engelska)" />
                    </div>
                    <div class="clear"></div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon" id="fb"><i class="fa fa-fw"></i></div>
                                <input type="text" class="form-control" title="Adress should start with 'http://' or 'https://'"
                                       placeholder="Facebook-event (URL)" th:field="*{facebookEvent}" pattern="^https:\/\/.*|^http:\/\/.*"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <div class="input-group-addon" id="gdocs"><i class="fa fa-fw"></i></div>
                            <input type="text" class="form-control" title="Adress should start with 'http://' or 'https://'"
                                   placeholder="Google Doc/Form (URL)" th:field="*{googleForm}" pattern="^https:\/\/.*|^http:\/\/.*"/>
                        </div>
                    </div>
                    <div class="clear"></div>

                    <div class="col-md-6">
                        <div class="form-label-block" style="padding-bottom: 5px;">Innehåll (svenska):</div>
                        <textarea th:field="*{contentSwedish}" title="Innehåll (svenska)" id="content_sv"></textarea>
                    </div>
                    <div class="col-md-6">
                        <div class="form-label-block" style="padding-bottom: 5px;">Innehåll (engelska):</div>
                        <textarea th:field="*{contentEnglish}" title="Innehåll (engelska)" id="content_en"></textarea>
                    </div>

                    <div class="col-xs-12" style="height: 50px;"></div>
                </div>
                <div class="col-md-3">
                    <div class="sidebar toolbox" id="sidebar">
                        <h3 style="margin-top: 0;">Metadata</h3>
                        <div class="col-xs-12">
                            <div class="form-horizontal form-group">
                                <th:block th:switch="${item.getPublishStatus().name()}">
                                    <div th:case="DRAFT">
                                        <label for="publishDate" class="form-label-block">Publiceringsdatum:</label>
                                        <input class="form-control input" v-model="publishDate" type="datetime-local" id="publishDate" th:field="*{publishDate}" @blur="queue" placeholder="YYYY-MM-DDThh:mm" />
                                        <small class="text-ultra-muted">Lämna blankt för direktpublicering</small>
                                    </div>
                                    <div th:case="PUBLISHED">
                                        <label for="publishDate" class="form-label-block">Publiceringsdatum:</label>
                                        <input class="form-control input" readonly="readonly" disabled="disabled" type="text" th:value="${item.publishDate.format(formatter)}" />
                                        <input type="hidden" th:field="*{publishDate}" />
                                    </div>
                                    <div th:case="QUEUED">
                                        <input type="hidden" th:field="*{publishDate}" />
                                        <label for="publishDate" class="form-label-block">Köad för publicering:</label>
                                        <input class="form-control input" readonly="readonly" disabled="disabled" type="text" th:value="${item.publishDate.format(formatter)}" />
                                    </div>
                                </th:block>
                            </div>
                            <div class="form-group">
                                <label for="publishAs" class="form-label-block">Publicera i egenskap av:</label>
                                <div class="form-input-group">
                                    <div th:if="${#authentication.getPrincipal().getMandates().size() == 0}">
                                        <small class="text-ultra-muted">Du har inga nuvarande mandat</small>
                                    </div>

                                    <div th:if="${#authentication.getPrincipal().getMandates().size() > 0}">
                                        <select id="publishAs" class="form-select form-control" name="publishAs">
                                            <optgroup label="Dina positioner">
                                                <option th:each="mandate : ${#authentication.getPrincipal().getMandates()}"
                                                        th:value="${mandate.getKey()}"
                                                        th:selected="${mandate.getKey().equals(item.publishAs)}"
                                                        th:text="${mandate.getValue()}"></option>
                                            </optgroup>
                                            <optgroup label="Publicera under eget namn">
                                                <option th:value="null"
                                                        th:text="${item.authorDisplay}"
                                                        th:selected="${#strings.isEmpty(item.publishAs) && item.id > 0}"></option>
                                            </optgroup>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="form-label-inline col-xs-4" style="padding-right: 0;">Synlighet: &nbsp;</div>

                                <div sec:authorize="hasAuthority('sticky')" class="col-xs-8" style="padding-left: 10px;">
                                    <span th:if="${item.sticky}" class="checkbox">
                                        <input type="checkbox" name="sticky" value="true" checked id="sticky1" />
                                        <label for="sticky1" class="form-label-narrow">Viktig post</label>
                                    </span>
                                    <span th:unless="${item.sticky}" class="checkbox">
                                        <input type="checkbox" name="sticky" value="true" id="sticky2" />
                                        <label for="sticky2" class="form-label-narrow">Viktig post</label>
                                    </span>
                                </div>
                                <div sec:authorize="!hasAuthority('sticky')" class="col-xs-8" style="padding-left: 10px;">
                                    <span th:if="${item.sticky}" class="checkbox">
                                        <input readonly disabled type="checkbox" name="sticky" value="true" checked id="sticky3" />
                                        <label for="sticky3" class="form-label-narrow">Viktig post</label>
                                    </span>
                                    <span th:unless="${item.sticky}" class="checkbox">
                                        <input readonly disabled type="checkbox" name="sticky" value="true" id="sticky4" />
                                        <label for="sticky4" class="form-label-narrow">Viktig post</label>
                                    </span>
                                </div>

                                <div class="clearfix"></div>
                                <div sec:authorize="!hasAuthority('sticky')" class="col-xs-12">
                                    <small class="text-ultra-muted">Du saknar rättighet att ändra den här inställningen</small>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="form-label-inline col-xs-4" style="padding-right: 0px;">Mörklägg: &nbsp;</div>

                                <div class="col-xs-8" style="padding-left: 10px;">
                                   <span th:if="${item.sensitive}" class="checkbox">
                                        <input type="checkbox" name="sensitive" value="true" checked id="sensitive1" />
                                        <label for="sensitive1" class="form-label-narrow">Dölj automatiskt under mottagningen</label>
                                    </span>
                                    <span th:unless="${item.sensitive}" class="checkbox">
                                        <input type="checkbox" name="sensitive" value="true" id="sensitive2" />
                                        <label for="sensitive2" class="form-label-narrow">Dölj automatiskt under mottagningen</label>
                                    </span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="content_type" class="form-label-block">Posttyp:</label>
                                <div class="form-input-group">
                                    <select class="form-control" id="content_type" th:field="*{itemType}" v-model="contentType">
                                        <option th:each="itemType : ${T(se.datasektionen.calypso.models.enums.ItemType).values()}"
                                                th:value="${itemType}"
                                                th:text="${#strings.capitalize(itemType.name().toLowerCase())}">
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div id="event_data" class="row" v-if="contentType == 'EVENT'">
                                <h3>Event</h3>
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label for="eventStart" class="form-label-block">Eventstart:</label>
                                        <input class="form-control input" required="required" type="datetime-local" id="eventStart" th:field="*{eventStartTime}" />
                                    </div>
                                    <div class="form-group">
                                        <label for="eventEnd" class="form-label-block">Eventslut:</label>
                                        <input class="form-control input" required="required" type="datetime-local" id="eventEnd" th:field="*{eventEndTime}" />
                                    </div>

                                    <div class="form-group">
                                        <label for="eventLocation" class="form-label-block">Eventplats:</label>
                                        <input class="form-control input" required="required" type="text" id="eventLocation" th:field="*{eventLocation}" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>

            <div class="footer-toolbar" id="footerButtons">
                <div class="footer-toolbar-inner row">
                    <div class="footer-toolbar-info col-md-6">
                        <span th:if="!${item.publishDate}">
                            <strong>Kom ihåg att spara posten som utkast medan du jobbar.</strong>
                            <span th:unless="${#fields.hasErrors('*')}">
                                <span th:if="${item.id != null}" th:inline="text">
                                    Senaste utkast sparat [[${item.updated.format(formatter)}]]
                                </span>
                                <span th:if="${item.id == null}">
                                    Posten har inte ännu sparats i systemet.
                                </span>
                            </span>
                            <span th:if="${#fields.hasErrors('*')}">
                                Rätta till de fel som uppstod under redigeringen för att spara posten.
                            </span>
                        </span>
                        <span th:if="${item.publishDate}">
                            <strong>Publicerat innehåll uppdateras på siten direkt när du trycker på spara.</strong>
                            <span th:if="${item.id != null}" th:inline="text">
                                Senaste version sparad [[${item.updated.format(formatter)}]]
                            </span>
                            <span th:if="${item.id == null}">
                                Posten har inte ännu sparats i systemet.
                            </span>
                        </span>
                    </div>
                    <div class="footer-toolbar-action-buttons col-md-6 text-right">
                        <div id="publish_post">

                            <th:block th:switch="${item.getPublishStatus().name()}">
                                <a th:href="@{/admin/delete/{id}(id=${item.id})}"
                                   th:if="${item.id != null}"
                                   sec:authorize="hasAuthority('editor')"
                                   onclick="return window.confirm('Är du säker på att du vill ta bort posten?');"
                                   class="button secondary-action">Radera</a>

                                <a th:href="@{/admin/duplicate(id=${item.id})}"
                                   th:if="${item.id != null}"
                                   sec:authorize="hasAuthority('post')"
                                   class="button secondary-action">&#128203; Duplicera</a>


                                <span th:case="DRAFT">
                                    <input class="button secondary-action" type="submit" name="save" value="Spara utkast" v-if="publishStatus == 'DRAFT'" />
                                    <input class="button primary-action" type="submit" name="publish" value="Publicera" v-if="publishStatus == 'DRAFT'" />
                                    <input class="button primary-action" type="submit" name="save" value="Köa publicering" v-if="publishStatus == 'QUEUED'" />
                                </span>
                                <span th:case="QUEUED">
                                    <input class="button secondary-action" type="submit" name="save" value="Spara utkast" v-if="publishStatus == 'DRAFT'" />
                                    <input class="button primary-action" type="submit" name="publish" value="Publicera" v-if="publishStatus == 'DRAFT'" />
                                    <input class="button primary-action" type="submit" name="save" value="Köa publicering" v-if="publishStatus == 'QUEUED'" />
                                </span>
                                <span th:case="PUBLISHED">
                                    <a th:href="@{https://datasektionen.se/nyheter/{id}(id=${item.id})}" target="_blank" class="button secondary-action">Visa</a>
                                    <input class="button primary-action" type="submit" name="save" value="Uppdatera" />
                                </span>
                            </th:block>
                        </div>
                        <div id="queue_post" style="display: none;">
                            <input class="button primary-action" type="submit" name="publish" value="Köa publicering" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>

</body>
</html>
