<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="layout(title, links, scripts, content)">
<head>
    <meta charset="utf-8" />
    <title th:replace="${title}">Calypso @ Datasektionen.se</title>
    <link rel="stylesheet" href="//aurora.datasektionen.se" />
    <link rel="stylesheet" th:href="@{/css/overrides.css}" />
    <meta name="theme-color" content="#e91e63" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script type="text/javascript" th:inline="text">
        window.methone_conf = {
            system_name: "calypso",
            color_scheme: "pink",
            login_text: "[[${#authentication.getPrincipal().getFirstName()}]]",
            login_href: "javascript:void(0)",
            links: [
                {
                    str: "Redigera innehåll",
                    href: "/admin/list"
                },
                {
                    str: "Ny post",
                    href: "/admin/new"
                }
            ]
        };
    </script>
    <th:block th:replace="${links}" />
</head>
<body>
<div id="methone-container-replace"></div>
<div id="application" class="pink">
    <th:block th:replace="${content}" />
</div>

<div id="footer" class="row">
    <div id="footer-inner">
        <div class="col-sm-3">
            <a href="https://github.com/datasektionen/calypso" target="_blank">
                <i class="fa fa-github"></i> &nbsp;
                Calypso
            </a>
        </div>
        <div class="col-sm-6 text-center">
            Utvecklat av
            <a href="mailto:mauritzz@kth.se">Mauritz Zachrisson</a>
        </div>
        <div class="col-sm-3" th:inline="text" th:class="text-right">
            Java [[${@environment.getProperty('java.runtime.version')}]] ([[${@environment.getProperty('os.arch')}]])
        </div>
    </div>
</div>
<script src="//methone.datasektionen.se/bar.js"></script>
<th:block th:replace="${scripts}" />
</body>
</html>