<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      th:replace="layout :: layout(~{::title},~{::link},~{::script},~{::#main})">
<head>
    <title>Nyheter & Event - Calypso @ Datasektionen.se</title>
    <script type="text/javascript"></script>
    <link rel="stylesheet" href="/css/overrides.css" />
</head>
<body>

<div id="main">
    <header>
        <div class="header-inner">
            <div class="row">
                <div class="header-left col-md-2"></div>
                <div class="col-md-8">
                    <h2 th:if="${itemType == null}">Redigera innehåll</h2>
                    <th:block th:if="${itemType != null}" th:switch="${itemType.name()}">
                        <h2 th:case="EVENT">Redigera event</h2>
                        <h2 th:case="POST">Redigera nyheter</h2>
                    </th:block>
                </div>
                <div class="header-right col-md-2">
                    <a href="/admin/new" class="primary-action">Skapa ny</a>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </header>
    <div id="content">
        <div sec:authorize="!hasAuthority('editor')" class="alert alert-muted alert-sm">
            <i class="fa fa-fw fa-info-circle"></i>
            Eftersom du saknar redaktörsrättigheter kan du endast se och redigera dina egna inlägg.
        </div>

        <div th:if="${param.deleted}" class="alert alert-success alert-sm">
            <i class="fa fa-fw fa-info-circle"></i>
            Inlägg med ID #<span th:text="${param.deleted}"></span> raderades.
        </div>

        <div th:if="${receptionMode}">
            <div class="alert alert-info">Mottagningsläget är för närvarande påslaget. Nyheter markerade som känsliga kommer inte exponeras av APIet eller synas på hemsidan.</div>
        </div>

        <div class="row">
            <div class="col-md-8 text-muted" style="padding-top: 5px;">
                <small th:text="${'Totalt ' + items.totalElements + ' objekt du kan redigera.'}"></small>
            </div>
            <div class="col-md-2 text-muted" style="padding-top: 5px; text-align: right;">
                <div sec:authorize="hasAuthority('editor')">
                    <form method="get" name="onlyMeSelector">
                        <input type="hidden" name="itemType" th:value="${itemType}">
                        <input type="hidden" name="page" th:value="${page}">
                        <span  class="checkbox">
                            <input type="checkbox" name="onlyMe" value="true" id="onlyMe" th:if="${onlyMe}" checked/>
                            <input type="checkbox" name="onlyMe" value="true" id="onlyMe" th:unless="${onlyMe}"/>
                            <label for="onlyMe" class="form-label-narrow">Endast dina inlägg</label>
                        </span>
                        <script>
                            document.getElementById("onlyMe").addEventListener('change',
                                function (event) {
                                    document.forms["onlyMeSelector"].submit()
                                });
                        </script>
                    </form>
                </div>
            </div>
            <div class="col-md-2">
                <div class="table-pagination" style="text-align: right !important;">
                    <ul class="pagination pagination-sm" style="margin: 0; margin-bottom: 5px;">
                        <li th:class="${itemType == null}  ? active : ''">
                            <a th:href="@{${'/admin/list'}(onlyMe=${onlyMe}, page=${page})}">Alla</a>
                        </li>
                        <li th:class="${itemType != null && itemType.name() == 'EVENT'} ? active : ''">
                            <a th:href="@{${'/admin/list'}(itemType=EVENT, onlyMe=${onlyMe}, page=${page})}">Event</a>
                        </li>
                        <li th:class="${itemType != null && itemType.name() == 'POST'}  ? active : ''">
                            <a th:href="@{${'/admin/list'}(itemType=POST, onlyMe=${onlyMe}, page=${page})}">Nyheter</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="table-responsive">
            <table width="100%" class="table table-striped">
                <thead>
                <tr>
                    <th width="2%"></th>
                    <th width="3%"><i class="far fa-newspaper"></i></th>
                    <th width="30%">Titel</th>
                    <th width="15%">Publicerad</th>
                    <th width="12.5%">Eventplats</th>
                    <th width="12.5%">Eventstart</th>
                    <th width="20%">Författare</th>
                    <th width="5%"
                        title="Mörklagda evenemang/nyheter kommer mörkläggas (inte visas) när mottagningsläge är påslaget."
                    >Mörklägg</th>
                </tr>
                </thead>
                <tbody th:unless="${#lists.isEmpty(items)}">
                <tr th:each="item : ${items}">
                    <td style="vertical-align: middle;">
                        <th:block th:switch="${item.itemType.name()}">
                            <i th:case="EVENT" title="Event" class="far fa-calendar"></i>
                            <i th:case="POST" title="Nyhet" class="far fa-file-alt"></i>
                        </th:block>
                    </td>
                    <td style="vertical-align: middle;">
                        <th:block th:switch="${item.getPublishStatus().name()}">
                            <div th:case="DRAFT">
                                <i class="far fa-circle"></i>
                            </div>
                            <div th:case="QUEUED">
                                <i class="far fa-clock text-warning"></i>
                            </div>
                            <div th:case="PUBLISHED">
                                <i class="fa fa-check-circle text-success"></i>
                            </div>
                        </th:block>
                    </td>
                    <td>
                        <a th:href="@{/admin/edit(id=${item.id})}">
                            <strong th:text="${item.titleSwedish}"></strong><br />
                            <small th:text="${item.titleEnglish}"></small>
                        </a>
                    </td>
                    <td style="vertical-align: middle;">
                    <span th:if="${item.publishDate}">
                        <span th:text="${item.publishDate.format(formatter)}"></span>
                    </span>
                        <span th:if="!${item.publishDate}">
                        <em>Utkast</em>
                    </span>
                    </td>
                    <td style="vertical-align: middle;">
                        <span th:text="${item.eventLocation}"></span>
                        <span th:if="${#strings.isEmpty(item.eventLocation)}">
                        <em>&mdash;</em>
                    </span>
                    </td>
                    <td style="vertical-align: middle;">
                    <span th:if="${item.eventStartTime}">
                        <span th:text="${item.eventStartTime.format(formatter)}"></span>
                    </span>
                        <span th:unless="${item.eventStartTime}">
                        <em>&mdash;</em>
                    </span>
                    </td>
                    <td style="vertical-align:middle;" th:text="${item.authorDisplay}"></td>
                    <td style="vertical-align: middle;">
                        <th:block th:switch="${item.sensitive}">
                            <div th:case="true">
                                Ja
                            </div>
                            <div th:case="false">
                                Nej
                            </div>
                        </th:block>
                    </td>
                </tr>
                </tbody>
                <tbody th:if="${items.getTotalElements() == 0}">
                <tr>
                    <td colspan="8">
                        <div class="text-center">
                            <br>
                            <h4>Inget innehåll hittades för de givna kriterierna</h4>
                            <br>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="table-pagination" th:if="${items.getTotalElements() > 0}">
            <ul class="pagination">
                <li th:class="${items.number eq 0} ? 'disabled' : ''">
                    <a th:unless="${page == 0}" th:href="@{${'/admin/list'}(page=${items.number-1},itemType=${itemType},onlyMe=${onlyMe})}">&laquo;</a>
                    <a th:if="${page == 0}" class="disabled" href="javascript:void(0);">&laquo;</a>
                </li>

                <li th:each="pageNo : ${#numbers.sequence(0, items.totalPages - 1)}" th:class="${items.number == pageNo} ? 'active' : ''">
                    <a th:if="${items.number == pageNo}" href="javascript:void(0);" class="disabled">
                        <span th:text="${pageNo + 1}"></span>
                    </a>
                    <a th:unless="${items.number == pageNo}" th:href="@{${'/admin/list'}(page=${pageNo},itemType=${itemType},onlyMe=${onlyMe})}">
                        <span th:text="${pageNo + 1}"></span>
                    </a>
                </li>
                <li th:class="${items.number + 1 ge items.totalPages} ? 'disabled' : ''">
                    <a th:unless="${items.isLast()}" th:href="@{${'/admin/list'}(page=${page+1},itemType=${itemType},onlyMe=${onlyMe})}">&raquo;</a>
                    <a th:if="${items.isLast()}" href="javascript:void(0);">&raquo;</a>
                </li>
            </ul>
        </div>

    </div>
</div>

</body>
</html>