<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      th:replace="layout :: layout(~{::title},~{::link},~{::script},~{::#main})">
<head>
    <title>Nyheter & Event - Calypso @ Datasektionen.se</title>
    <script type="text/javascript"></script>
    <link rel="stylesheet" href="/css/overrides.css" />
</head>
<body>

<div id="main">
    <header>
        <div class="header-inner">
            <div class="row">
                <div class="header-left col-md-2"></div>
                <div class="col-md-8">
                    <th:block th:switch="${itemType.name()}">
                        <h2 th:case="EVENT">Redigera event</h2>
                        <h2 th:case="POST">Redigera nyheter</h2>
                    </th:block>
                </div>
                <div class="header-right col-md-2">
                    <a href="/admin/new" class="primary-action">Skapa ny</a>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </header>
    <div id="content">
        <div sec:authorize="!hasAuthority('editor')" class="alert alert-muted alert-sm">
            <i class="fa fa-fw fa-info-circle"></i>
            Eftersom du saknar redaktörsrättigheter kan du endast se och redigera dina egna inlägg.
        </div>

        <div class="table-responsive">
            <table width="100%" class="table table-striped">
                <thead>
                <tr>
                    <th width="5%"><i class="fa fa-newspaper-o"></i></th>
                    <th width="30%">Titel</th>
                    <th width="15%">Publicerad</th>
                    <th width="15%">Eventplats</th>
                    <th width="15%">Eventstart</th>
                    <th width="20%">Författare</th>
                </tr>
                </thead>
                <tbody th:unless="${#lists.isEmpty(items)}">
                <tr th:each="item : ${items}">
                    <td style="vertical-align: middle;">
                        <th:block th:switch="${item.getPublishStatus().name()}">
                            <div th:case="DRAFT">
                                <i class="fa fa-circle-o"></i>
                            </div>
                            <div th:case="QUEUED">
                                <i class="fa fa-clock-o text-warning"></i>
                            </div>
                            <div th:case="PUBLISHED">
                                <i class="fa fa-check-circle text-success"></i>
                            </div>
                        </th:block>
                    </td>
                    <td>
                        <a th:href="@{/admin/edit(id=${item.id})}">
                            <strong th:text="${item.titleSwedish}"></strong><br />
                            <small th:text="${item.titleEnglish}"></small>
                        </a>
                    </td>
                    <td style="vertical-align: middle;">
                    <span th:if="${item.publishDate}">
                        <span th:text="${item.publishDate.format(formatter)}"></span>
                    </span>
                        <span th:if="!${item.publishDate}">
                        <em>Utkast</em>
                    </span>
                    </td>
                    <td style="vertical-align: middle;">
                        <span th:text="${item.eventLocation}"></span>
                        <span th:if="${#strings.isEmpty(item.eventLocation)}">
                        <em>&mdash;</em>
                    </span>
                    </td>
                    <td style="vertical-align: middle;">
                    <span th:if="${item.eventStartTime}">
                        <span th:text="${item.eventStartTime.format(formatter)}"></span>
                    </span>
                        <span th:unless="${item.eventStartTime}">
                        <em>&mdash;</em>
                    </span>
                    </td>
                    <td style="vertical-align:middle;" th:text="${item.authorDisplay}"></td>
                </tr>
                </tbody>
                <tbody th:if="${items.getTotalElements() == 0}">
                <tr>
                    <td colspan="6">
                        <div class="text-center">
                            <br>
                            <h4>Inget innehåll hittades för de givna kriterierna</h4>
                            <br>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="table-pagination" th:if="${items.getTotalElements() > 0}">
            <ul class="pagination">
                <li th:class="${items.number eq 0} ? 'disabled' : ''">
                    <a th:unless="${page == 0}" th:href="@{${'/contacts'}(page=${items.number-1},size=${items.size})}">&laquo;</a>
                    <a th:if="${page == 0}" href="javascript:void(0);">&laquo;</a>
                </li>

                <li th:each="pageNo : ${#numbers.sequence(0, items.totalPages - 1)}" th:class="${items.number == pageNo} ? 'active' : ''">
                    <a th:if="${items.number == page}" href="javascript:void(0);">
                        <span th:text="${pageNo + 1}"></span>
                    </a>
                    <a th:unless="${items.number == page}" th:href="@{${'/admin/list'}(page=${pageNo})}">
                        <span th:text="${pageNo + 1}"></span>
                    </a>

                </li>
                <li th:class="${items.number + 1 ge items.totalPages} ? 'disabled' : ''">
                    <a th:unless="${items.isLast()}" th:href="@{${'/admin/list'}(page=${page+1})}">&raquo;</a>
                    <a th:if="${items.isLast()}" href="javascript:void(0);">&raquo;</a>
                </li>
            </ul>
        </div>

    </div>
</div>

</body>
</html>