<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      th:replace="layout :: layout(~{::title},~{::link},~{::script},~{::#main})">
<head>
    <title>Mottagningsläge</title>
    <script type="text/javascript"></script>
    <link rel="stylesheet" href="/css/overrides.css" />
    <script type="text/javascript" src="https://unpkg.com/vue@2.6.14"></script>
</head>
<body>

<div id="main">
    <header>
        <div class="header-inner">
            <div class="row">
                <div class="header-left col-md-2"></div>
                <div class="col-md-8">
                    <h2>Mottagningsläge</h2>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </header>
    <div id="content">
        <form action="#" th:action="@{/admin/reception/activate}" th:object="${receptionMode}" method="POST" enctype="multipart/form-data">
        <input type="hidden" th:field="*{id}" />
        <input type="hidden" th:field="*{updated}" />
            <p>Mottagningsläge innebär att att alla evenemang och nyheter som är flaggade automatiskt blir gömda när mottagningsläge är påslaget. Denna funktion används förslagsvis under mottagningen.</p>
            <p>Mottagningsläget är för närvarande <span th:if="${receptionMode.state}"><b>PÅ</b></span><span th:if="${!receptionMode.state}"><b>AV</b></span>
            <button class="button primary-action" style="color: #fff; background: #d81b60;" type="submit" name="state" value="false" th:if="${receptionMode.state}">Avaktivera</button>
            <button class="button primary-action" style="color: #fff; background: #d81b60;" type="submit" name="state" value="true" th:if="${!receptionMode.state}">Aktivera</button>
        </form>
    </div>

</div>

</body>
</html>