<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml"
      th:replace="layout :: layout(~{::title},~{::link},~{::script},~{::#main})">
<head>
    <title>Importera från Facebook @ Calypso</title>
    <script src="/bar.js"></script>
    <link rel="stylesheet" href="/lol.css" />
</head>
<body>

<div id="main">
    <header>
        <div class="header-inner">
            <div class="row">
                <div class="header-left col-md-2"></div>
                <div class="col-md-8">
                    <h2>Facebook-import</h2>
                </div>
                <div class="header-right col-md-2"></div>
            </div>
            <div class="clear"></div>
        </div>
    </header>
    <div id="content">

        <h3>Anslutning krävs</h3>

        <p>Du måste godkänna Calypso-applikationen på Facebook innan du kan importera event.</p>
        <p>Applikationen ber inte om några rättigheter.</p>

        <form th:action="@{/connect/facebook}" method="POST">
            <p><button type="submit">Anslut till Facebook</button></p>
        </form>

    </div>
</div>

</body>
</html>